main{
    font-family: "Noto Sans KR", sans-serif;
    width:100%;
}
a{
  text-decoration-line:none;
  color:black;
  transition:0.2s
}
a:hover{
  color:blue;
  transition:0.2s
}
#main-top{
  filter: blur(5px);
}
#buttonlist{ 
  display:inline;
  margin:20px;
}
#graphbody{

}
.nonedisplay{
  display: none;
}
.noneblur{
  filter:none;
}
#loginbutton{
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-head{
  display: flex;
  width:100vw;
  height:100vh;
  position:fixed;
  justify-content: center;
  align-items: center;
}
button{
    border:none;
    color:white;
    background-color:blue;
    padding:10px;
    border-radius: 30px;
}
button:hover{
    background-color:rgb(0,0,155);

}

#body{
    display: flex;
    justify-content: center;
    width:100%;
}
#mapfolder{
    width:98%;
    margin:30px;
}
#map{
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgb(200,200,200);
}

#list{
  
  text-align: center;

  margin:30px;
  width:49%;
  padding:0px 30px;
  height:100%;
  overflow: auto;
}
li{
  font-size:15px;
}
#leg{
  
  margin:30px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgb(200,200,200);
  justify-content: center;
  align-items: center;
  height:400px;
  display: flex;
  width:100%;
}
#left{
  border-radius: 30px;
  text-align: center;
  margin:30px;
  width:49%;
  padding:0px 30px;
  height:100%;
  overflow: auto;
}
.custom-file-upload {
    display: inline-block;
    padding:10px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 10px;
  }
  
  .custom-file-upload:hover {
    background-color:rgb(0,0,155);
  }
  
  #fileName {
    margin-left: 10px;
  }
  
  #dot{
    display: none;
  }
  .flex{
    display: flex;
  }
  img {
    border-style: none; /* 이미지 테두리 스타일 제거 */
    outline: none; /* 이미지 클릭 시 나타나는 외곽선 제거 */
}
 

 #imageContainer{
  margin-top:30px;
  width:98%;
  height:400px;
  box-shadow: 0px 0px 20px rgb(200,200,200);
  border-radius: 30px;
  display: block;

 }

  #graphCanvas{
    width:800px;
    height:550px;
    padding:0px;
  }
  #graph{
    margin:30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
h1{
    font-size:3vw;
}
#folderList{
  text-align: left;
  font-size:20px;
}
#fileList{
  text-align: left;
  font-size:20px;
}
#folderTitle{
  margin:40px;
}