@media (min-width: 576px) {
  main{
    font-family: "Noto Sans KR", sans-serif;
    width:100%px;
    height:1080px;
    display: flex;
    justify-content: center;
    border:10px solid red;
    position: relative;
    overflow: hidden;
    background-color:rgb(230,230,230);
}
#file-list{
  color:white;
}
#addressZip{
  display: flex;
  justify-content: center;
}
#preview{
  width:cover;
  height:150%;

}
#addressBtn , #submit-btn{

}
#logolabel:hover{
  background-color:rgb(0,0,0,0.2);
}
#zip label{
  margin:30px;
  padding:20px;
  vertical-align: middle;
  border:1px solid black;
  color:white;
  width:40px;
  height:40px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#address-details{
  position: absolute;
  color:black;
  display: block;
  position: absolute;
  margin-top:20px;
}
#info-form{
  text-align: center;
  margin:0;
  padding:0;
  
}
#address{
  height:40px;
  width:98%;
  border:none;
  border-bottom:1px black solid;
}
#fixbutton{
  height:46px;
  border:none;
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
}
#addressHidden{
  display: none;
  background: white;

  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  justify-content: center;
}
#logoZip label{
  display: flex;
  padding:20px;
  vertical-align: middle;
  height:80px;
  width:80px;
  text-align: center;
  border:1px solid black;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
}
.flex{
  display: flex;
}
#x{
  position:absolute;
  right:0;
  margin-right:10%;
}
#logoZip input[type="file"]{

  width:0;
  height:0;
  padding:0;
  overflow: hidden;
  border:0;
}
#logoZip{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:20px;
}
#addressDisplay{
  background-color:white;
  margin: 0px 5px;
}
.labelPhoto{
  width:40px;
  margin:0;
  padding:0;
}
#zip input[type="file"]{
  position: absolute;
  width:0;
  height:0;
  padding:0;
  overflow:hidden;
  border:0;

}

#addFolderDisplay{
  z-index:4;
  width:45%;
  height:33%;
  position: absolute;
  top:25%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition:(0.5s);
  background-color:white;

}
.addFolderDisplay-click{
  background-color:rgba(40,40,40,0.3);
  visibility: visible !important;
  opacity: 1 !important;
  transition:(0.5s);
  width:100%;
  height:100%;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter:blur(10px) !important;
  
}
#zip{
  width:700px;
  height:40%;
  position: absolute;
  bottom:30%;
  background-color:white;
}
li{
  color:white;
}
#addwindow{
  position:fixed;
  width:80%;
  height:100px;
 background-color:white;
}

#addwindow{
  z-index: 0;
  display: block;
  width:30%;
  left:105%;
  height:98%;
  top:0;
  position:absolute;
  background-color:black;
}
#line{
  border-top:1px white solid;
}
hr{
  color:rgba(204, 199, 199, 0.6);
  margin:0px 10%;
}
.leftThing-click{
  left:0% !important;
  transition:0.5s;
  ~.blur{
    filter:blur(3px);
    transition:0.5s;
  }
}

.blur{
  width:100%;
  transition:0.5s;
  
}
.bigblur{
  transition:0.5s;
  width:100%;
  z-index: inher
}


.right_info_moved{
  background-color:white;
}
.leftwow{
  width:10%;
}
#leftThing{
  z-index: 1;
text-align: right;
  font-size:20px;
  width:30%;
  height:100%;
  background-color:white;
  position:absolute;
  color:black;
  top:0;
  left:-30%;
  transition:0.5s;
}

h1{
  font-size:25px;
}
#secondwindow{
  text-align: center;
  color:black;
  width: 100%;
  height:100%;
  position: absolute;
  background-color:white;
  visibility: hidden;
  opacity: 0;
  left:105%;
  transition:0.5s;
}
.secondwindow-click{
  opacity: 1 !important;
  visibility:visible !important;
}
#folder{
  display: flex;
  justify-content: center;
  margin-top:30px;
}
#rightThing{
  width:100%;
  display: flex;
  justify-content: space-around;
}
#openwindow{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top:80px;
}
#searchimg{
  width:20px;
  height:20px;
  margin-left:2%;
}
#searchzip{
  display: flex;
  margin:40px 40px 10px 40px;
}
#search{
  background-color:transparent;
  border:none;
  margin-left:3%;
  font-size:20px;
}
#search:active{
  border:none;
}
#clickarrow{
  margin-top:3%;
  position:absolute;
  left:95%;
  background-color:white;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;
  width:15%;
  height:7%;
  border-radius: 6px;
  color:black;
}
#arrow{
  font-size: 30px;
  margin-right:10px;
}
#addschool{
  background-color:rgb(255,227,0);
  border: none;
  width:50%;
  height:70px;
  border-radius: 10px;
  font-size:25px;
  color: grey;
  font-weight: bold;
}
#addschool:hover{
  background-color:rgb(240,197,0);
}
#folder-list{
  padding:0;
}
.folderZip{
  overflow: auto;
  width:80%;
  height:50%;
  position: absolute;

  
  border-radius: 10px;
  background-color:rgb(240,240,240);
}

::-webkit-scrollbar{
  width:100%;
}
::-webkit-scrollbar-track{
  background-color:transparent;
}
::-webkit-scrollbar-thumb{
  background-color:#F3E5AB;
  border-radius: 10px;
}
li{
  border-bottom:1px black solid;
  display: flex;
  align-items: center;
  margin:10% 5% 10% 5%;
  height:100px;
  color:black;
  list-style: none;
}
a{
  text-decoration-line:none;
  transition:0.2s;
  color:white;
}
a:hover{
  color:blue;
  transition:0.2s
}
.honeycomb{
  margin-left:20px;
  width:100px;
  margin-right:20px;
}
#honeycombtext{
  align-items: center;
  font-size:1.5vw;
  font-weight: bold;
  text-align: right;
  display: flex;
  position:absolute;
  bottom:20px;
  left:0;
}

#map{
  width:100%;
  height:100%;
  background-color:white;
}
}