main{
    font-family: "Noto Sans KR", sans-serif;
    width:1200px;
    height:986px;
    display: flex;
    justify-content: center;
    border:10px solid red;
    position: relative;
    overflow: hidden;
    background-color:rgb(230,230,230);
}
none{
  display: none;
}
#addwindow{
  z-index: 0;
  display: block;
  width:30%;
  left:105%;
  height:98%;
  top:0;
  position:absolute;
  background-color:black;
}
#line{
  border-top:1px white solid;
}
hr{
  color:rgba(204, 199, 199, 0.6);
  margin:0px 10%;
}
.leftThing-click{
  left:0% !important;
  transition:0.5s;
  ~.blur{
    filter:blur(3px);
    transition:0.5s;
  }
}

.blur{
  width:100%;
  transition:0.5s;
}
#right_info{
 
}

.right_info_moved{
  background-color:white;
}
.leftwow{
  width:10%;
}
#leftThing{
  z-index: 1;
text-align: right;
  font-size: 1%;
  width:30%;
  height:100%;
  background-color:black;
  position:absolute;
  color:white;
  top:0;
  left:-30%;
  transition:0.5s;
}
#secondwindow{
  width: 100%;
  height:70%;
  position: absolute;
  background-color:black;
  visibility: hidden;
  opacity: 0;
  left:105%;
  top:15%;
  transition:0.5s;
}
.secondwindow-click{
  
  opacity: 1 !important;
  visibility:visible !important;
}

#rightThing{
  width:100%;
  display: flex;
  justify-content: space-around;
}
#notopenwindow{
  display:flex;
  justify-content: right;
  align-items: center;
  right:0;
  height:100%;
}
#searchimg{
  filter:invert();
  width:20px;
  height:20px;
  margin-left:2%;
}
#searchzip{
  display: flex;
  margin:40px 40px 10px 40px;
}
#search{
  background-color:transparent;
  border:none;
  margin-left:3%;
  font-size:20px;
  color:white;
}
#search:active{
  border:none;
}
#clickarrow{
  margin-top:3%;
  position:absolute;
  left:95%;
  background-color:black;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;
  width:15%;
  height:7%;
  border-radius: 6px;
  color:white;
}
#arrow{
  font-size: 30px;
  margin-right:10px;
}
#folderList{
  padding:0;
}
li{
  border:1px white solid;
  display: flex;
  align-items: center;
  margin:10% 5% 10% 5%;
  height:100px;
  color:white;
  list-style: none;
}
a{
  text-decoration-line:none;
  transition:0.2s;
  color:white;
}
a:hover{
  color:blue;
  transition:0.2s
}
.honeycomb{
  margin-left:20px;
  width:100px;
  margin-right:20px;
}
#honeycombtext{
  align-items: center;
  font-size:20px;
  font-weight: bold;
  text-align: right;
  display: flex;
  position:absolute;
  bottom:20px;
  left:0;
}

#map{
  width:100%;
  height:100%;
  background-color:white;
}